.loading_con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all ease .3s;
}

.loading_con.hide {
    opacity: 0;
}

.loading_con>svg {
    animation: loading_animate linear .8s infinite
}

@keyframes loading_animate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}