<style>
    :host {
        display: block;
        width: 245px;
        font-size: 12px;
    }

    .item_con {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: background-color ease .1s;
    }

    .name {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        min-height: 40px;
        flex: 1;
        transition: all ease .3s;
    }

    .name:hover {
        background-color: rgba(0, 0, 0, .06);
    }

    .after_mark {
        display: block;
        width: 30px;
        height: 30px;
        margin-left: auto;
        background-image: url(./img/right.svg);
        background-size: auto 10px;
        background-repeat: no-repeat;
        background-position: center;
        transition: all ease .3s;
    }

    .item_con[active] .name {
        color: var(--primary-color);
    }

    [open] .after_mark {
        transform: rotate(90deg);
    }
</style>
<div class="item_con" :active="active" :open="open">
    <div class="name">
        <slot></slot>
        <div class="after_mark"></div>
    </div>
    <div>
        <slot name="child"></slot>
    </div>
</div>