<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aside测试</title>
    <script src="../../../js/ofa.js"></script>
    <script>
        load("./ofa-aside");
    </script>
</head>

<body>
    <div>

        <ofa-aside hide>
            <div class="aside_sub_title">主要</div>
            <aside-item data-reg="/pages/docs/guide">ofajs介绍
                <a href="#/pages/docs/guide.js" slot="child">起步</a>
            </aside-item>
            <aside-item data-reg="/pages/docs/stage0" active>stage0:使用组件
                <a href="#/pages/docs/stage0/load_component.js" slot="child">学会load函数和查看组件文档</a>
                <a href="#/pages/docs/stage0/read_md.js" active slot="child">使用markdown组件</a>
                <a href="#/pages/docs/stage0/md_edit.js" slot="child">5分钟制作markdown编辑器</a>
            </aside-item>
            <aside-item>stage1:使用ofa API</aside-item>
            <aside-item>stage2:开发ofa Component</aside-item>
            <aside-item>stage3:开发ofa Page</aside-item>
            <aside-item>stage4:开发ofa APP</aside-item>
            <aside-item>$ API</aside-item>
            <div class="aside_sub_title">增强</div>
            <aside-item data-reg="/pages/docs/drill"></aside-item>
            <aside-item>ofa的数据收集</aside-item>
            <aside-item>ofa的组件化</aside-item>
            <div class="aside_sub_title">其他</div>
            <aside-item>ofajs的组成</aside-item>
        </ofa-aside>
    </div>
</body>

</html>