<style>
    :host {
        box-sizing: border-box;
        display: block;
        padding-top: 64px;
        height: 100%;
        box-shadow: rgba(0, 0, 0, .1) 0 0 6px;
        --primary-color: #6264a7;
    }

    .aside_con {
        height: 100%;
        width: 245px;
        opacity: 1;
        overflow: hidden;
        transition: all ease .3s;
        transition-delay: .4s;
        overflow-y: auto;
    }

    .aside_con:before {
        display: block;
        content: "";
        height: 30px;
    }

    .aside_con[hide] {
        width: 0;
        opacity: 0;
        transition: all ease .2s;
    }
</style>
<div class="aside_con" :hide="hide">
    <slot></slot>
</div>