@import url(../common/common.css);
:host {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #252423;
  font-weight: 500;
  -webkit-user-select: none;
  user-select: none;
  min-height: 29px;
  min-width: 29px;
}
.btn {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5em 0.8em;
  border: #e1dfdd solid 1px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.4em 0.8em -0.14em;
  cursor: pointer;
  transition: all ease 0.15s;
  /* background-color: #585a96; */
}
.btn[type="circle"] {
  border-radius: 1000px;
}
.btn[type="circle"] .bg {
  border-radius: 1000px;
}
.btn[type="text"] {
  box-shadow: none;
  border: none;
}
.btn[type="text"].bg {
  background-color: transparent;
}
.btn[type="text"]:hover .bg,
.btn[type="text"]:active .bg {
  background-color: transparent;
}
.btn[disabled] {
  color: #c8c6c4;
  background-color: #edebe9;
  border-color: #edebe9;
  cursor: not-allowed;
  box-shadow: none;
}
.btn[disabled]:hover .bg,
.btn[disabled]:active .bg {
  background-color: transparent;
}
.btn[icononly] {
  padding: 0 !important;
}
.bg {
  z-index: 1;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.btn_container {
  position: relative;
  z-index: 2;
}
.btn:hover .bg {
  background-color: rgba(0, 0, 0, 0.07);
}
.btn:active {
  box-shadow: none;
}
.btn:active .bg {
  background-color: rgba(0, 0, 0, 0.117);
}
.btn[deepmode="1"] {
  color: #fff;
}
.btn[deepmode="1"]:hover .bg {
  background-color: rgba(0, 0, 0, 0.1);
}
.btn[deepmode="1"]:active .bg {
  background-color: rgba(0, 0, 0, 0.2);
}
