<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>book-aside demo</title>
    <script src="../../../../js/ofa.js"></script>
    <script>
        load("./book-aside");
    </script>
</head>

<body>
    <book-aside style="width: 245px;height:300px;">
        <ba-item name="aaaa"></ba-item>
        <ba-item name="bbbb" active="1">
            <ba-item name="b111111"></ba-item>
            <ba-item name="b2222" active="2"></ba-item>
            <ba-item name="b33333"></ba-item>
            <ba-item name="b44444444"></ba-item>
        </ba-item>
        <ba-item name="cccc"></ba-item>
        <ba-item name="dddd"></ba-item>
    </book-aside>

    <book-aside style="width: 245px;height:300px;">
        <ba-item name="aaaa"></ba-item>
        <ba-item name="bbbb" active="2">
            <ba-item name="b111111"></ba-item>
            <ba-item name="b2222"></ba-item>
            <ba-item name="b33333"></ba-item>
            <ba-item name="b44444444"></ba-item>
        </ba-item>
        <ba-item name="cccc"></ba-item>
        <ba-item name="dddd"></ba-item>
    </book-aside>

    <book-aside style="width: 245px;height:300px;">
        <ba-item name="aaaa"></ba-item>
        <ba-item name="bbbb" active="1">
            <ba-item name="b111111"></ba-item>
            <ba-item name="b2222" active="1">
                <ba-item name="b2-1111111" active="2"></ba-item>
                <ba-item name="b2-22222222"></ba-item>
            </ba-item>
            <ba-item name="b33333"></ba-item>
            <ba-item name="b44444444"></ba-item>
        </ba-item>
        <ba-item name="cccc"></ba-item>
        <ba-item name="dddd"></ba-item>
    </book-aside>
</body>

</html>