:host {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
}

.code_span {
    padding: 0 4px;
    display: inline-block;
    color: #6264a7;
    background-color: #eee;
    font-family: monospace;
}

.docs_con {
    display: block;
    box-sizing: border-box;
    padding: 30px;
    width: 100%;
    max-width: 1000px;

    p {
        margin: 1em 0;
    }

    h2,
    h3 {
        margin: 1.6em 0 0.8em;
    }
}