:host {
  position: relative;
  display: inline-block;
  font-size: 12px;
  color: #252423;
  cursor: pointer;
  user-select: none;
  min-height: 29px;
  min-width: 29px;
  font-family: "Segoe UI", system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
}
.btn {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5em 0.8em;
  border: #e1dfdd solid 1px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.4em 0.8em -0.14em;
  transition: all ease 0.15s;
  /* background-color: #585a96; */
}
.btn[circular] {
  border-radius: 50% 50%;
}
.btn[circular] .bg {
  border-radius: 50% 50%;
}
.bg {
  z-index: 1;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all ease 0.1s;
}
.btn_container {
  position: relative;
  z-index: 2;
}
.btn:hover .bg {
  background-color: rgba(0, 0, 0, 0.07);
}
.btn:active {
  box-shadow: none;
}
.btn:active .bg {
  background-color: rgba(0, 0, 0, 0.117);
}
.btn[deepmode="1"] {
  color: #fff;
}
.btn[deepmode="1"]:hover .bg {
  background-color: rgba(0, 0, 0, 0.1);
}
.btn[deepmode="1"]:active .bg {
  background-color: rgba(0, 0, 0, 0.2);
}
